@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  background-color: rgb(31, 31, 31);
  background-image: url("image/IMG_22302.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

/* scroll to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 2;
  font-size: 12px;
  border: none;
  outline: none;
  background: linear-gradient(110deg, rgb(0, 28, 104), rgb(22, 47, 114));
  color: inherit;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  text-transform: uppercase;
  color: aliceblue;
}

/*** header ***/
.header {
  font-size: 16px;
  padding: 14px 16px;
  overflow: hidden;
  background: rgb(18, 19, 32);
  color: aliceblue;
}

.logo_img {
  display: flex;
  max-height: 100%;
  max-width: 60px;
  float: left;
}

.text_nav {
  margin: 14px 16px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  color: inherit;
  float: left;
  letter-spacing: 0.0405em;
}

/* hover */
.header a.link:hover {
  cursor: pointer;
}

.header a.text_nav:hover {
  cursor: pointer;
}

/********** footer **********/
.footer {
  max-height: fit-content;
  /* letter-spacing: 0.022em; */
  height: 100%;
  display: grid;
}

.footer-one,
.footer-two,
.footer-three {
  display: block;
  padding: 1% 1% 1% 1%;
  height: 100%;
  font-size: 16px;
  text-align: center;
}

.footer-one {
  color: black;
  background-color: #d9edf4;
}
.footer-one-I {
  float: left;
  margin: 0 10px;
}
.footer-one-II {
  display: flex;
  float: right;
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
.footer-one-II-text {
  height: 30px;
  width: auto;
}
.footer-one-II-img {
  height: 30px;
  width: auto;
}
.footer-two {
  background-color: #bddfe8;
  /* color: aliceblue; */
}
.footer-three {
  background: rgb(4, 0, 67);
  background: linear-gradient(
    151deg,
    rgb(8, 0, 114) 0%,
    rgb(26, 26, 170) 72%,
    rgb(0, 255, 55) 100%
  );
  color: aliceblue;
}
.footer-three-I-img {
  margin: 0 10px;
  display: flex;
  max-height: 100%;
  max-width: 60px;
  float: left;
}
.footer-three-I-text {
  margin: 0 10px;
  float: left;
  font-size: 20px;
}
.footer-three-II {
  margin: 0 10px;
  float: right;
}

/*** column 1 ***/
.column1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}
section video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.headtext {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.022em;
  display: flex;
  color: #fff;
  position: absolute;
}

/*** content ***/
.contents {
  padding: 80px 40px;
  text-align: center;
}
.backg1 {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.7) 0%,
    rgba(253, 187, 45, 0.7) 100%
  );
}

/* make 2 rows */
.contents .row {
  display: table;
}
.contents #title {
  font-size: 24px;
}
.contents #paragraph {
  float: left;
  text-align: justify;
  width: 45%;
  padding: 0 2.5% 0 2.5%;
  opacity: 1;
}
.paragraph-certificate {
  display: table;
  float: left;
  font-size: 16px;
  width: 100%;
  text-align: justify;
  justify-content: center;
  padding: 0 2.5% 0 2.5%;
}
.paragraph-certificate-left {
  float: left;
  width: 25%;
}
.paragraph-certificate-right {
  float: left;
  width: 65%;
}

@media only screen and (max-width: 600px) {
  .contents #paragraph {
    width: 100%;
    padding: 1rem 2.5% 1rem 2.5%;
  }
  .paragraph-certificate {
    display: flex;
    float: left;
    font-size: 16px;
    width: 100%;
    text-align: justify;
    justify-content: center;
    padding: 0 2.5% 0 2.5%;
  }
}
