@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("css_header.css");
@import url("css_footer.css");
@import url("css_scroll.css");
@import url("css_content.css");

body {
  background-color: rgb(31, 31, 31);
  background-image: url("image/IMG_22302.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .paragraph-left {
    display: flex;
    width: 100%;
    text-align: center;
  }
  .column1Video img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  }
  .paragraph {
    display: flex;
    float: left;
    font-size: 16px;
    width: 100%;
    text-align: left;
    justify-content: center;
    padding: 0 2.5% 0 2.5%;
  }
  .paragraph_video {
    width: 90%;
  }
  .footer-one,
  .footer-three,
  .footer-two {
    padding: 3% 1% 3% 1%;
  }
  .footer-three-II {
    padding-top: 2%;
  }
}
